@page "/"
@using DnetIndexedDbServer.Infrastructure
@using DnetIndexedDbServer.Infrastructure.Entities
@inject IHttpClientFactory ClientFactory

@inject IJSRuntime JSRuntime

@inject GridColumnDataIndexedDb GridColumnDataIndexedDb
@inject SecuritySuiteDataIndexedDb SecuritySuiteDataIndexedDb

<div class="dnet-desktop-content destok-layout" style="padding-top: 10px;">
    <div class="row" style="height: calc(100% - 0px)">
        <div class="col-12" style="height: calc(100% - 0px);">
            <div style="height: calc(100% - 0px); width: 100%; background-color: #FFFFFF">
            </div>
        </div>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ExecuteIndexedDbOperations();
        }
    }

    private async Task ExecuteIndexedDbOperations()
    {
        var items = GetTableFieldDtos();

        var tt = await GridColumnDataIndexedDb.OpenIndexedDb();

        var result1 = await GridColumnDataIndexedDb.AddItems<TableFieldDto>("tableField", items);

        var result2 = await GridColumnDataIndexedDb.GetByKey<int, TableFieldDto>("tableField", 11);

        var result3 = await GridColumnDataIndexedDb.DeleteByKey<int>("tableField", 11);

        var result4 = await GridColumnDataIndexedDb.GetAll<TableFieldDto>("tableField");

        var result5 = await GridColumnDataIndexedDb.GetRange<int, TableFieldDto>("tableField", 15, 20);

        foreach (var item in items)
        {
            item.FieldVisualName = item.FieldVisualName + "Updated";
        }

        var result8 = await GridColumnDataIndexedDb.UpdateItems<TableFieldDto>("tableField", items);

        var result9 = await GridColumnDataIndexedDb.GetByIndex<string, TableFieldDto>("tableField", "Name", null, "fieldVisualName", false);

        var result7 = await GridColumnDataIndexedDb.DeleteAll("tableField");

        var result10 = await GridColumnDataIndexedDb.DeleteIndexedDb();
    }

    public List<TableFieldDto> GetTableFieldDtos()
    {
        var items = new List<TableFieldDto>()
{
            new TableFieldDto
            {
                TableFieldId = 11,
                TableName = "Person",
                FieldVisualName = "Id",
                AttachedProperty = "Id",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 12,
                TableName = "Person",
                FieldVisualName = "Index",
                AttachedProperty = "Index",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 13,
                TableName = "Person",
                FieldVisualName = "IsActive",
                AttachedProperty = "IsActive",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 14,
                TableName = "Person",
                FieldVisualName = "Balance",
                AttachedProperty = "Balance",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 15,
                TableName = "Person",
                FieldVisualName = "Picture",
                AttachedProperty = "Picture",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 16,
                TableName = "Person",
                FieldVisualName = "Age",
                AttachedProperty = "Age",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
             new TableFieldDto
            {
                TableFieldId = 17,
                TableName = "Person",
                FieldVisualName = "EyeColor",
                AttachedProperty = "EyeColor",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 18,
                TableName = "Person",
                FieldVisualName = "Name",
                AttachedProperty = "Name",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 19,
                TableName = "Person",
                FieldVisualName = "Gender",
                AttachedProperty = "Gender",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 20,
                TableName = "Person",
                FieldVisualName = "Company",
                AttachedProperty = "Company",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 21,
                TableName = "Person",
                FieldVisualName = "Email",
                AttachedProperty = "Email",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 22,
                TableName = "Person",
                FieldVisualName = "Phone",
                AttachedProperty = "Phone",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
             new TableFieldDto
            {
                TableFieldId = 23,
                TableName = "Person",
                FieldVisualName = "Address",
                AttachedProperty = "Address",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
             new TableFieldDto
            {
                TableFieldId = 24,
                TableName = "Person",
                FieldVisualName = "Registered",
                AttachedProperty = "Registered",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 25,
                TableName = "Person",
                FieldVisualName = "Latitude",
                AttachedProperty = "Latitude",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 26,
                TableName = "Person",
                FieldVisualName = "Longitude",
                AttachedProperty = "Longitude",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 27,
                TableName = "Person",
                FieldVisualName = "Greeting",
                AttachedProperty = "Greeting",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            },
            new TableFieldDto
            {
                TableFieldId = 28,
                TableName = "Person",
                FieldVisualName = "FavoriteFruit",
                AttachedProperty = "FavoriteFruit",
                IsLink = false,
                MemberOf = 10,
                Width = 200,
                TextAlignClass = "",
                Hide = false,
                Type = ""
            }
        };

        return items;
    }

}


