.dnet-p-r-0 {
    padding-right: 0 !important;
}

.dnet-p-r-5 {
    padding-right: 5px !important;
}

.dnet-p-r-7 {
    padding-right: 7px !important;
}

.dnet-p-r-10 {
    padding-right: 10px !important;
}

.dnet-p-r-15 {
    padding-right: 15px !important;
}

.dnet-p-r-20 {
    padding-right: 20px !important;
}

.dnet-p-r-25 {
    padding-right: 25px !important;
}

.dnet-p-r-30 {
    padding-right: 30px !important;
}

.dnet-p-r-35 {
    padding-right: 35px !important;
}

.dnet-p-r-40 {
    padding-right: 40px !important;
}

.dnet-p-r-45 {
    padding-right: 45px !important;
}

.dnet-p-r-50 {
    padding-right: 50px !important;
}

.dnet-p-r-60 {
    padding-right: 60px !important;
}

.dnet-p-r-70 {
    padding-right: 70px !important;
}

.dnet-p-r-75 {
    padding-right: 75px !important;
}

.dnet-p-r-100 {
    padding-right: 100px !important;
}

.dnet-p-r-200 {
    padding-right: 200px !important;
}

.dnet-p-r-300 {
    padding-right: 300px !important;
}

.dnet-p-l-0 {
    padding-left: 0 !important;
}

.dnet-p-l-5 {
    padding-left: 5px !important;
}

.dnet-p-l-7 {
    padding-left: 7px !important;
}

.dnet-p-l-10 {
    padding-left: 10px !important;
}

.dnet-p-l-15 {
    padding-left: 15px !important;
}

.dnet-p-l-20 {
    padding-left: 20px !important;
}

.dnet-p-l-25 {
    padding-left: 25px !important;
}

.dnet-p-l-30 {
    padding-left: 30px !important;
}

.dnet-p-l-35 {
    padding-left: 35px !important;
}

.dnet-p-l-40 {
    padding-left: 40px !important;
}

.dnet-p-l-45 {
    padding-left: 45px !important;
}

.dnet-p-l-50 {
    padding-left: 50px !important;
}

.dnet-p-l-60 {
    padding-left: 60px !important;
}

.dnet-p-l-70 {
    padding-left: 70px !important;
}

.dnet-p-l-75 {
    padding-left: 75px !important;
}

.dnet-p-l-100 {
    padding-left: 100px !important;
}

.dnet-p-l-200 {
    padding-left: 200px !important;
}

.dnet-p-l-300 {
    padding-left: 300px !important;
}

.dnet-p-t-0 {
    padding-top: 0 !important;
}

.dnet-p-t-5 {
    padding-top: 5px !important;
}

.dnet-p-t-7 {
    padding-top: 7px !important;
}

.dnet-p-t-10 {
    padding-top: 10px !important;
}

.dnet-p-t-15 {
    padding-top: 15px !important;
}

.dnet-p-t-20 {
    padding-top: 20px !important;
}

.dnet-p-t-25 {
    padding-top: 25px !important;
}

.dnet-p-t-30 {
    padding-top: 30px !important;
}

.dnet-p-t-35 {
    padding-top: 35px !important;
}

.dnet-p-t-40 {
    padding-top: 40px !important;
}

.dnet-p-t-45 {
    padding-top: 45px !important;
}

.dnet-p-t-50 {
    padding-top: 50px !important;
}

.dnet-p-t-60 {
    padding-top: 60px !important;
}

.dnet-p-t-70 {
    padding-top: 70px !important;
}

.dnet-p-t-75 {
    padding-top: 75px !important;
}

.dnet-p-t-100 {
    padding-top: 100px !important;
}

.dnet-p-t-200 {
    padding-top: 200px !important;
}

.dnet-p-t-300 {
    padding-top: 300px !important;
}

.dnet-p-b-0 {
    padding-bottom: 0 !important;
}

.dnet-p-b-5 {
    padding-bottom: 5px !important;
}

.dnet-p-b-7 {
    padding-bottom: 7px !important;
}

.dnet-p-b-10 {
    padding-bottom: 10px !important;
}

.dnet-p-b-15 {
    padding-bottom: 15px !important;
}

.dnet-p-b-20 {
    padding-bottom: 20px !important;
}

.dnet-p-b-25 {
    padding-bottom: 25px !important;
}

.dnet-p-b-30 {
    padding-bottom: 30px !important;
}

.dnet-p-b-35 {
    padding-bottom: 35px !important;
}

.dnet-p-b-40 {
    padding-bottom: 40px !important;
}

.dnet-p-b-45 {
    padding-bottom: 45px !important;
}

.dnet-p-b-50 {
    padding-bottom: 50px !important;
}

.dnet-p-b-60 {
    padding-bottom: 60px !important;
}

.dnet-p-b-70 {
    padding-bottom: 70px !important;
}

.dnet-p-b-75 {
    padding-bottom: 75px !important;
}

.dnet-p-b-100 {
    padding-bottom: 100px !important;
}

.dnet-p-b-200 {
    padding-bottom: 200px !important;
}

.dnet-p-b-300 {
    padding-bottom: 300px !important;
}

.dnet-m-r-0 {
    margin-right: 0 !important;
}

.dnet-m-r-5 {
    margin-right: 5px !important;
}

.dnet-m-r-7 {
    margin-right: 7px !important;
}

.dnet-m-r-10 {
    margin-right: 10px !important;
}

.dnet-m-r-15 {
    margin-right: 15px !important;
}

.dnet-m-r-20 {
    margin-right: 20px !important;
}

.dnet-m-r-25 {
    margin-right: 25px !important;
}

.dnet-m-r-30 {
    margin-right: 30px !important;
}

.dnet-m-r-35 {
    margin-right: 35px !important;
}

.dnet-m-r-40 {
    margin-right: 40px !important;
}

.dnet-m-r-45 {
    margin-right: 45px !important;
}

.dnet-m-r-50 {
    margin-right: 50px !important;
}

.dnet-m-r-60 {
    margin-right: 60px !important;
}

.dnet-m-r-70 {
    margin-right: 70px !important;
}

.dnet-m-r-75 {
    margin-right: 75px !important;
}

.dnet-m-r-100 {
    margin-right: 100px !important;
}

.dnet-m-r-200 {
    margin-right: 200px !important;
}

.dnet-m-r-300 {
    margin-right: 300px !important;
}

.dnet-m-l-0 {
    margin-left: 0 !important;
}

.dnet-m-l-5 {
    margin-left: 5px !important;
}

.dnet-m-l-7 {
    margin-left: 7px !important;
}

.dnet-m-l-10 {
    margin-left: 10px !important;
}

.dnet-m-l-15 {
    margin-left: 15px !important;
}

.dnet-m-l-20 {
    margin-left: 20px !important;
}

.dnet-m-l-25 {
    margin-left: 25px !important;
}

.dnet-m-l-30 {
    margin-left: 30px !important;
}

.dnet-m-l-35 {
    margin-left: 35px !important;
}

.dnet-m-l-40 {
    margin-left: 40px !important;
}

.dnet-m-l-45 {
    margin-left: 45px !important;
}

.dnet-m-l-50 {
    margin-left: 50px !important;
}

.dnet-m-l-60 {
    margin-left: 60px !important;
}

.dnet-m-l-70 {
    margin-left: 70px !important;
}

.dnet-m-l-75 {
    margin-left: 75px !important;
}

.dnet-m-l-100 {
    margin-left: 100px !important;
}

.dnet-m-l-200 {
    margin-left: 200px !important;
}

.dnet-m-l-300 {
    margin-left: 300px !important;
}

.dnet-m-t-0 {
    margin-top: 0 !important;
}

.dnet-m-t-5 {
    margin-top: 5px !important;
}

.dnet-m-t-7 {
    margin-top: 7px !important;
}

.dnet-m-t-10 {
    margin-top: 10px !important;
}

.dnet-m-t-15 {
    margin-top: 15px !important;
}

.dnet-m-t-20 {
    margin-top: 20px !important;
}

.dnet-m-t-25 {
    margin-top: 25px !important;
}

.dnet-m-t-30 {
    margin-top: 30px !important;
}

.dnet-m-t-35 {
    margin-top: 35px !important;
}

.dnet-m-t-40 {
    margin-top: 40px !important;
}

.dnet-m-t-45 {
    margin-top: 45px !important;
}

.dnet-m-t-50 {
    margin-top: 50px !important;
}

.dnet-m-t-60 {
    margin-top: 60px !important;
}

.dnet-m-t-70 {
    margin-top: 70px !important;
}

.dnet-m-t-75 {
    margin-top: 75px !important;
}

.dnet-m-t-100 {
    margin-top: 100px !important;
}

.dnet-m-t-200 {
    margin-top: 200px !important;
}

.dnet-m-t-300 {
    margin-top: 300px !important;
}

.dnet-m-b-0 {
    margin-bottom: 0 !important;
}

.dnet-m-b-5 {
    margin-bottom: 5px !important;
}

.dnet-m-b-7 {
    margin-bottom: 7px !important;
}

.dnet-m-b-10 {
    margin-bottom: 10px !important;
}

.dnet-m-b-15 {
    margin-bottom: 15px !important;
}

.dnet-m-b-20 {
    margin-bottom: 20px !important;
}

.dnet-m-b-25 {
    margin-bottom: 25px !important;
}

.dnet-m-b-30 {
    margin-bottom: 30px !important;
}

.dnet-m-b-35 {
    margin-bottom: 35px !important;
}

.dnet-m-b-40 {
    margin-bottom: 40px !important;
}

.dnet-m-b-45 {
    margin-bottom: 45px !important;
}

.dnet-m-b-50 {
    margin-bottom: 50px !important;
}

.dnet-m-b-60 {
    margin-bottom: 60px !important;
}

.dnet-m-b-70 {
    margin-bottom: 70px !important;
}

.dnet-m-b-75 {
    margin-bottom: 75px !important;
}

.dnet-m-b-100 {
    margin-bottom: 100px !important;
}

.dnet-m-b-200 {
    margin-bottom: 200px !important;
}

.dnet-m-b-300 {
    margin-bottom: 300px !important;
}

.dnet-h-30 {
    height: 30px !important;
}

.dnet-h-40 {
    height: 40px !important;
}

.dnet-h-50 {
    height: 50px !important;
}

.dnet-h-60 {
    height: 60px !important;
}

.dnet-h-65 {
    height: 65px !important;
}

.dnet-h-70 {
    height: 70px !important;
}

.dnet-h-80 {
    height: 80px !important;
}

.dnet-h-90 {
    height: 90px !important;
}

.dnet-h-100 {
    height: 100px !important;
}

.dnet-h-120 {
    height: 120px !important;
}

.dnet-h-150 {
    height: 150px !important;
}

.dnet-h-200 {
    height: 200px !important;
}

.dnet-h-250 {
    height: 250px !important;
}

.dnet-h-300 {
    height: 300px !important;
}

.dnet-h-350 {
    height: 350px !important;
}

.dnet-h-400 {
    height: 400px !important;
}

.dnet-h-500 {
    height: 500px !important;
}

.dnet-w-30 {
    width: 30px !important;
}

.dnet-w-40 {
    width: 40px !important;
}

.dnet-w-50 {
    width: 50px !important;
}

.dnet-w-60 {
    width: 60px !important;
}

.dnet-w-65 {
    width: 65px !important;
}

.dnet-w-70 {
    width: 70px !important;
}

.dnet-w-80 {
    width: 80px !important;
}

.dnet-w-90 {
    width: 90px !important;
}

.dnet-w-100 {
    width: 100px !important;
}

.dnet-w-120 {
    width: 120px !important;
}

.dnet-w-150 {
    width: 150px !important;
}

.dnet-w-200 {
    width: 200px !important;
}

.dnet-w-250 {
    width: 250px !important;
}

.dnet-w-300 {
    width: 300px !important;
}

.dnet-w-350 {
    width: 350px !important;
}

.dnet-w-400 {
    width: 400px !important;
}

.dnet-w-500 {
    width: 500px !important;
}

.dnet-f-8 {
    font-size: 8px !important;
}

.dnet-f-9 {
    font-size: 9px !important;
}

.dnet-f-10 {
    font-size: 10px !important;
}

.dnet-f-11 {
    font-size: 11px !important;
}

.dnet-f-12 {
    font-size: 12px !important;
}

.dnet-f-13 {
    font-size: 13px !important;
}

.dnet-f-14 {
    font-size: 14px !important;
}

.dnet-f-15 {
    font-size: 15px !important;
}

.dnet-f-17 {
    font-size: 17px !important;
}

.dnet-f-20 {
    font-size: 20px !important;
}

.dnet-f-25 {
    font-size: 25px !important;
}

.dnet-f-30 {
    font-size: 30px !important;
}

.dnet-f-35 {
    font-size: 35px !important;
}

.dnet-f-50 {
    font-size: 50px !important;
}

.dnet-f-60 {
    font-size: 60px !important;
}

.dnet-f-65 {
    font-size: 65px !important;
}

.dnet-f-70 {
    font-size: 70px !important;
}

.dnet-f-75 {
    font-size: 75px !important;
}

.dnet-f-90 {
    font-size: 90px !important;
}

.dnet-f-100 {
    font-size: 100px !important;
}

.dnet-p-0 {
    padding: 0 !important;
}

.dnet-p-5 {
    padding: 5px !important;
}

.dnet-p-7 {
    padding: 7px !important;
}

.dnet-p-10 {
    padding: 10px !important;
}

.dnet-p-15 {
    padding: 15px !important;
}

.dnet-p-20 {
    padding: 20px !important;
}

.dnet-p-25 {
    padding: 25px !important;
}

.dnet-p-30 {
    padding: 30px !important;
}

.dnet-p-35 {
    padding: 35px !important;
}

.dnet-p-40 {
    padding: 40px !important;
}

.dnet-p-45 {
    padding: 45px !important;
}

.dnet-p-50 {
    padding: 50px !important;
}

.dnet-p-60 {
    padding: 60px !important;
}

.dnet-p-70 {
    padding: 70px !important;
}

.dnet-p-75 {
    padding: 75px !important;
}

.dnet-p-100 {
    padding: 100px !important;
}

.dnet-p-200 {
    padding: 200px !important;
}

.dnet-p-300 {
    padding: 300px !important;
}

.dnet-m-0 {
    margin: 0 !important;
}

.dnet-m-5 {
    margin: 5px !important;
}

.dnet-m-7 {
    margin: 7px !important;
}

.dnet-m-10 {
    margin: 10px !important;
}

.dnet-m-15 {
    margin: 15px !important;
}

.dnet-m-20 {
    margin: 20px !important;
}

.dnet-m-25 {
    margin: 25px !important;
}

.dnet-m-30 {
    margin: 30px !important;
}

.dnet-m-35 {
    margin: 35px !important;
}

.dnet-m-40 {
    margin: 40px !important;
}

.dnet-m-45 {
    margin: 45px !important;
}

.dnet-m-50 {
    margin: 50px !important;
}

.dnet-m-60 {
    margin: 60px !important;
}

.dnet-m-70 {
    margin: 70px !important;
}

.dnet-m-75 {
    margin: 75px !important;
}

.dnet-m-100 {
    margin: 100px !important;
}

.dnet-m-200 {
    margin: 200px !important;
}

.dnet-m-300 {
    margin: 300px !important;
}

/*@import "Feature1/_feature1.scss";*/
.dnet-desktop-content {
    padding: 0;
    flex: 1 1 0;
}

    .dnet-desktop-content.destok-layout {
        height: calc(100vh - 25px);
    }

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: transparent;
}

body {
    scrollbar-face-color: #BDBDBD;
    scrollbar-track-color: transparent;
}

.coms-input-search {
    width: 100%;
    border-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FFFFFF;
    -webkit-transition: none;
    transition: none;
    box-shadow: none;
    font-size: 12px;
    color: #38455b;
    border: 1px solid #eee;
    padding: 2px 5px;
}
